<div id="file-view-glitch-clip1-screen" class="screen">
  <div class="msdos-banner">
    Starting MS-DOS<span class="dot-animation"></span>
  </div>

  <div class="file-info flicker">
    <p>File: Ę̵̫̮͍̖ͯ̅̌̋͌̿ͮ̌̊̀͡͞͝͡ͅͅR̛̺̦̖̒̍̓̿̿̌ͪ͆̾̇͞R̄Ȍ̮̰̻͎̳̺͆͟͡͠Ŗ̪͙͎͕͎̒̏̒ͣ̏̈͑͂.mp4</p>
    <p>Date Added: 14/09/1986</p>
  </div>

  <div class="video-container">
    <video src="static/media/glitch-clip-one.mp4" controls loop autoplay></video>
  </div>

  <button class="return-button" onclick="stopVideoAndReturn()">Return to Files</button>
</div>
