<div id="file-view-dontlookup-screen" class="screen">
    <div class="msdos-banner">
      Starting MS-DOS<span class="dot-animation"></span>
    </div>
  
    <div class="file-info flicker">
      <p>File: dontlookup.png</p>
      <p>Date Added: 12/09/1986</p>
    </div>
  
    <div class="image-container">
      <img src="static/media/photography-close-stairs.jpg" alt="Staircase">
    </div>
  
    <button class="return-button" onclick="openScreen('folder-two-screen')">Return to Files</button>
  </div>
  