<div id="file-view-glitch-clip3-screen" class="screen">
    <div class="msdos-banner">
      Starting MS-DOS<span class="dot-animation"></span>
    </div>
  
    <div class="file-info flicker">
      <p>File: it.mp4</p>
      <p>Date Added: 11/09/1986</p>
    </div>
  
    <div class="video-container">
      <video src="static/media/glitch-clip-four.mov" controls loop autoplay></video>
    </div>
  
    <button class="return-button" onclick="stopVideoAndReturnToFolder()">Return to Folder</button>
</div>
  