<div id="file-view-basement2-screen" class="screen">
    <div class="msdos-banner">
      Starting MS-DOS<span class="dot-animation"></span>
    </div>
  
    <div class="file-info flicker">
      <p>File: basement2.jpg</p>
      <p>Date Added: 12/09/1986</p>
    </div>
  
    <div class="image-container">
      <img src="static/media/uncanny-entity-two.jpg" alt="Looking Up">
    </div>
  
    <button class="return-button" onclick="openScreen('folder-two-screen')">Return to Files</button>
  </div>
  