<div id="file-view-vlog6-screen" class="screen">
    <div class="msdos-banner">
      Starting MS-DOS<span class="dot-animation"></span>
    </div>
  
    <div class="file-info flicker">
      <p>File: vlog-6.mp4</p>
      <p>Date Added: 11/09/1986</p>
    </div>
  
    <div class="video-container">
      <video src="static/vlogs/vlog-6.MP4" controls loop autoplay></video>
    </div>
      
    
    <button class="return-button" onclick="stopVideoAndReturnToFolder()">Return to Folder</button>
    </div>
  </div>
  