<div id="file-view-vlog6-screen" class="screen">
    <div class="msdos-banner">
      Starting MS-DOS<span class="dot-animation"></span>
    </div>
  
    <div class="file-info flicker">
      <p>File: wegrewuptogether.mp4</p>
      <p>Date Added: ???</p>
    </div>
  
    <div class="video-container">
      <video src="static/vlogs/wegrewuptogether.mp4" controls loop autoplay></video>
    </div>
      
    
    <button class="return-button" onclick="stopVideoAndReturnToFolder()">Return to Folder</button>
    </div>
  </div>
  