<div id="file-view-armdragwindow-screen" class="screen corrupted-screen">
    <div class="msdos-banner red-glitch">
      Starting MS-DOS<span class="dot-animation red-dot"></span>
    </div>
  
    <div class="file-info red-flicker glitch-text">
      <p>File: THE_ROOM.mp4</p>
      <p>Date Added: [DATA MISSING]</p>
    </div>
  
    <div class="video-container">
      <video src="static/media/arm-drag-window.mp4" controls loop autoplay></video>
    </div>
  
    <button class="return-button red-return" onclick="stopVideoAndReturnCorrupted()">Return to Files</button>
  </div>
  