<div id="file-view-here-screen" class="screen corrupted-screen">
    <div class="msdos-banner red-glitch">
      Starting MS-DOS<span class="dot-animation red-dot"></span>
    </div>
  
    <div class="file-info red-flicker glitch-text">
      <p>File: here.jgp>
      <p>Date Added: ██/██/████</p>
    </div>
  
    <div class="image-container">
      <img src="static/media/uncanny-entity-one.jpg" alt="Glitched image">
    </div>
  
    <button class="return-button red-return" onclick="openScreen('corrupted-select-files-screen')">Return to Files</button>
  </div>
  