<div id="file-view-smile-screen" class="screen corrupted-screen">
    <div class="msdos-banner red-glitch">
      Starting MS-DOS<span class="dot-animation red-dot"></span>
    </div>
  
    <div class="file-info red-flicker glitch-text">
      <p>File: smile.jgp>
      <p>Date Added: ██/██/████</p>
    </div>
  
    <div class="image-container">
      <img src="static/media/smile.jpg" alt="Glitched image">
    </div>

    <button class="return-button red-return" onclick="openScreen('corrupted-folder-two-screen')">Return to Files</button>
  </div>
  